@model IEnumerable<ProductViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h1>Shop</h1>
<div class="container flex-column">
    @{
        foreach(var product in Model)
        {
            <div>
            <img class="img-fluid"src="@product.ImageUrl"/>
            <p>@product.product.Name</p>
            <p>@product.product.Price</p>

                <button class="addToCartBtn" data-product-id="@product.product.Id">add to cart</button>
                <button class="removeFromCartBtn" data-product-id="@product.product.Id"> delete from cart</button>
                <button class="removeOnceBtn" data-product-id="@product.product.Id">minus from cart</button>
            <a s></a>
                <p>@foreach (var color in product.colors)
                    {
                        <span class="rounded-circle border-1 border-dark border  w-25 h-25" style="background-color:@color.Name"></span>
                    }
                </p>
                <p>
                    @foreach (var size in product.sizes)
                    {
                       <b>@size.Name</b>
                    }
                </p>
            </div>
        }

    }

</div>

